<hr />
<footer>
    <p>CST336 Internet Programming. 2025 &copy; Garcia</p>
    <p><strong>Disclaimer:</strong> This webpage is for educational purposes only.</p>
    <img src="img/csumb-logo.png" alt="CSUMB logo" />
</footer>